@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f3f4f6;
}

@media print {
  body * {
    visibility: hidden;            /* Hide everything */
  }

  #print-area, #print-area * {
    visibility: visible !important; /* Show only slips */
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
  .print-slip {
    page-break-inside: avoid;
  }
}

/* For All Form */
.glass-card {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/* for Dashboard */
/* Glass card */
.glass {
  @apply bg-white/10 backdrop-blur-md rounded-xl shadow-lg border border-white/20;
}

/* Scrollbar hide for mobile charts */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
