@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f3f4f6;
}

@media print {
  body * {
    visibility: hidden;            /* Hide everything */
  }

  #print-area, #print-area * {
    visibility: visible !important; /* Show only slips */
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
  .print-slip {
    page-break-inside: avoid;
  }
}
